
.div_main_pic {
    display: flex; 
    justify-content: flex-start; 
    padding: 20px; 
}

#main_pic {
    width: 200px; 
    height: auto; 
    border-radius: 15px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

#main_div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

#main_pic:hover{
    transform: scale(1.1);
}

#main_div p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}
