/* Stylizacja głównego obrazu */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    position: relative;
}

.main-image {
    max-width: auto; /* Zmniejszamy szerokość zdjęcia */
    height: 500px;
    border-radius: 15px; /* Dodajemy zaokrąglone rogi */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Dodajemy cień */
}

/* Stylizacja przycisku uciekającego */
.escape-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background: linear-gradient(135deg, #ff0000, #ff0099);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: absolute;
}

/* Stylizacja ekranu z tekstem w stylu Star Wars */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.950);
    color: yellow;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1001; /* Ustawiamy wyższą warstwę niż menu */
}

.crawl-text {
    position: absolute;
    bottom: 0;
    width: 60%;
    font-size: 1.5rem;
    text-align: center;
    animation: crawl 10s linear forwards;
}

@keyframes crawl {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-300%); /* Tekst zatrzymuje się wyżej */
    }
}

.close-button {
    display: none;
    position: fixed;
    top: 27%; /* Przycisk na środku strony */
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 1.2rem;
    background: rgba(255, 0, 0, 0);
    color: yellow;
    border: yellow;
    border-style: solid;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    z-index: 1002; /* Przycisk nad tekstem */
}

.close-button:hover {
    transform: translate(-50%, -50%) scale(1.1); /* Lekkie powiększenie przy najechaniu */
}